@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

:root {
    /* Colors */
    --bg: #cecece;
    --cardColor: #FAFAFA;
    --btn: #47b988;
    --btnHover: #41a87c;
    --cancel: rgb(200, 3, 3);
    --cancelHover: rgb(180, 0, 0);
    --fontColor: rgb(22, 22, 22);
    
    /* Space Size */
    --space1: 5px;
    --space2: 10px;
    --space3: 15px;
    --space4: 20px;
    --space5: 25px;
    --space6: 30px;
}

* {
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Signika Negative', sans-serif;
}

title {
    display: none;
}

body {
    background-color: var(--bg);
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    width: max(90%, 500px);
    text-align: center;
    margin: auto;
}

.flex {
    display: flex;
}

input {
    outline: none;
    padding: 0px 4px;
}
select {
    outline: none;
}

button {
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    margin: 8px auto;
}

.btn {
    color: white;
    background: var(--btn);
}
.btn:hover {
    background: var(--btnHover);
}

.cancel-btn {
    color: white;
    background: var(--cancel);
}
.cancel-btn:hover {
    background: var(--cancelHover);
}

.err {
    font-size: 12px;
    margin-top: 1px !important;
    color: rgb(199, 42, 42);
    text-align: left;
}

.home-img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 32px;
}

.info {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.cursor:hover {
    cursor: pointer;
}

.icon {
    padding: 2px;
    fill: var(--fontColor);
}
.icon:hover {
    background-color: #e2e2e2;
    border-radius: 50%;
    cursor: pointer;
}

/* card */
.card {
    background-color: var(--cardColor);
    width: 200px;
    min-height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    margin: 8px;
    padding: 4px 0px 0px 0px;
    font-size: 13px;
    border-radius: 4px;
}

.card div{
    display: flex;
    margin: 6px 12px;
}

.card p{
    width: 50%;
    text-align: left;
}

.card button {
    width: 75px;
    margin-top: 16px;
    margin-right: 10px;
}

/* Modal */
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: var(--space2);
    text-align: center;
}

.modal-content > * {
    margin-top: var(--space1);
    width: 100%;
}

/* Delete Modal */
#del_modal .modal-content {
    width: 300px;
}
#del_modal .flex {
    margin-top: var(--space4);
    justify-content: space-between;
}
#del_modal button {
    width: 48%;
}