<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instant Bot</title>
    <link rel="icon" href="../assets/icon.ico">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../styles/index.css">
    <!-- Scripts -->
    <script type="text/javascript" src="../eel.js"></script>
</head>
<body>
    <div class="right_block">
        <h1>Instant Bot</h1>
        <a href="newbot.html"><button class="btn">Create Bot</button></a>
        <a href="runbot.html"><button class="btn">Run Bot</button></a>
    </div>
</body>
</html>