<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Bot</title>
    <link rel="icon" href="../assets/icon.ico">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/runbot.css">
    <link rel="stylesheet" href="../styles/newbot.css">
    <!-- Scripts -->
    <script type="text/javascript" src="../eel.js"></script>
    <script type="text/javascript" src="../scripts/runbot.js"></script>
</head>
<body>

    <a href="index.html">
        <img class="home-img cursor" src="../assets/home_icon.png">
    </a>

    <div class="bg-modal" style="display: none;">
        <div class="modal-content">
            <h4>Run Bot</h4>
            <div class="flex">
                <p>No. of Iterations: </p>
                <input id="iterations" type="number" placeholder="Iterations" min="1" max="500">
            </div>
            <span id="run_config_err" class="err" style="display: none;"></span>
            <div class="flex btn-grp">
                <button class="btn" onclick="run()">Run</button>
                <button class="cancel-btn" onclick="cancel()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="main">
        <h1>All Bots</h1>
        <div class="all-bots">
        </div>
    </div>
</body>
</html>